* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container {
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: gray;
  /* filter: blur(10px); */
  /* z-index: 1; */
}

#title-bar {
  /* position: relative; */
  display: flex;
  grid-column-start: left;
  grid-column-end: right;
  background: linear-gradient(to right, #212529, #36454f, #71797E);
  color: white;
  align-items: center;
  /* z-index: 1; */
}

#title {
  padding: 125px;
  font-size: 60px;
}

/* #container {
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
} */

#task-content {
  /* position: relative; */
  /* z-index: 2; */
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-start: content;
  /* filter: blur(10px); */
}

.content {
  display: grid;
  grid-template-columns: [content-left] 1fr [mid] 4fr [content-right] 1fr [side-end];
  grid-template-rows: [content-start] 100px [add-task] 100px [content-mid] 600px [content-end];
  /* filter: blur(10px); */
}

#info-column {
  /* position: relative; */
  /* z-index: 3; */
  display: grid;
  grid-template-rows: [info-start] 300px [info-mid] 50px [info-end];
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-end: content;
  background-color: lightgray;
  
}

#options-list {
  display: grid;
  padding: 20px;
  gap: 20px;
  /* width: 100%; */
  /* filter: blur(10px); */
}

#projects {
  grid-row-start: info-end;
  width: 50%;
  margin: 0 auto;
  /* filter: blur(10px); */
  /* height: 30vh; */
}

.project-title {
  position: relative;
  bottom: 320px;
  grid-row-start: info-mid;
  border-bottom: 2px solid goldenrod;
  /* margin-inline: auto; */
  width: 40%;
  /* filter: blur(10px); */
}

#content-title {
  grid-column-start: mid;
  display: flex;
  align-content: center;
  justify-content: center;
}

#task-add {
  grid-row-start: add-task;
  background-color: gray;
  grid-column-start: mid;
  height: 60px;
  border: none;
  width: 325px;
  justify-self: center;
  font-size: 40px;
  display: grid;
}

.add {
  display: grid;
  border: none;
  background-color: lightgray;
  position: absolute;
  top: 560px;
  left: 50px;
  height: 50px;
  width: 200px;
  justify-items:  space-between;
  cursor: pointer;
}

#project-add {
  display: grid;
  position: absolute;
  left: 40px;
}

.list{
  display: grid;
  grid-template-rows: repeat(5, 10px);
  background-color: white;
}

button.list {
  border: none;
  border-right: 8px solid goldenrod;
  cursor: pointer;
}

button.list:hover {
  background-color: whitesmoke;
  border: none;
  box-shadow: 7px 7px #848884;
}

button.clear-task:hover {
  background-color: whitesmoke;
  border: none;
  box-shadow: 7px 7px #848884;
}

#task-add:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
}

.fa-table-list {
  font-size: 50px;
  position: absolute;
  left: 46px;
}

.fa-plus {
  position: absolute;
  left: 950px;
}

#task-div {
  display: grid;
  grid-template-columns: [input-start] 343px [break] 20px [break-end] 343px [task-end];
  grid-template-rows: [input-top] 40px [input-bottom] 20px [button-start] 40px [button-end] ; 
  grid-row-start: content-mid;
  height: 100px;
  grid-column-start: mid;
  justify-self: center;
}

input#task {
  border: 1px solid black;
  box-shadow: 2px 2px;
  grid-column-start: input-start;
  width: 700px;
  height: 40px;
}

.create {
  grid-column-start: input-start;
  grid-row-start: button-start;
  width: 343px;
  background-color: lightgreen;
}

.cancel {
  grid-column-start: break-end;
  grid-column-end: task-end;
  grid-row-start: button-start;
  background-color: #aa4a44;
}

.hide {
  display: none;
}

#created-tasks {
  /* border: 2px solid black; */
  margin: 0;
  display: flex;
  gap: 0px;
  grid-row-start: content-mid;
  grid-column-start: mid;
  justify-self: center; 
  width: 600px;
}

#task-list {
  /* border: 2px solid black; */
  /* padding-bottom: 20px; */
}

.task-card {
  /* display: none; */
  display: flex;
  border: none;
  height: 50px;
  align-content: center;
  justify-content: center;
  padding-bottom: 40px;
  /* background-color: #006241; */
}

.tsk-card {
  border: none;
  display: flex;
  align-items: center;
  width: 550px;
  justify-content: center;
  font-size: large;
  background-color: lightgray;
  /* border-bottom: 2px solid goldenrod; */
  /* color: red; */
}

.task-p {
  /* margin-right: 50px; */
  margin-left: 230px;
  /* justify-self: center; */
}

.clear-task {
  /* border: 2px solid red; */
  border-radius: 50%;
  height: 20px;
  width: 20px;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
}

.task-card:hover {
  background-color: lightgray;
  box-shadow: 4px 4px 4px black;
  transform: scale(1.05);
  /* width: 50%; */
  /* height: 15px; */
}

/* #task-add:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
} */

/* form {
  border: 2px solid black;
} */

ul#task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  gap: 10px;
}


/* .clear-task */

li {
  /* border: 2px solid black; */
  background-color: gray;
  width: 600px;
  
}

/* li:hover {
  background-color: lightgrey;
  box-shadow: 7px 7px whitesmoke;
} */

#task-details {
  display: none;
  /* gap: 10px; */
  background-color: lightgray;
  width: 580px;
  position: absolute;
  border-right: 5px solid goldenrod;
  left: 835px;
  bottom: 50vh;
  height: 130px;
  /* align-content: center; */
  padding-left: 10px;
  background-color: lightgrey;
  box-shadow: 7px 7px darkgray;
}

.details {
  /* background-color: black; */
}

h4 {
  position: absolute;
  left: 40px;
  bottom: 82px;
  border-bottom: 2px solid goldenrod;
  width: 80%; 
}

.details-cancel button {
  background-color: red;
  position: relative;
  top: 6px;
  right: 2px;
}

#detail-title {
  position: relative;
  top: 20px;
  /* border-bottom: 2px solid goldenrod; */
  left: 6px;
  width: 30%;
  height: 20px;
  /* right: 200px; */
}

#detail-desc {
  position: absolute;
  left: 160px;
  top: 20px;
  /* border-bottom: 2px solid goldenrod; */
  height: 20px;
  /* overflow:auto; */
  /* width: 7/0%; */
}

#detail-prio {
  position: absolute;
  top: 60px;
  left: 370px;
}

#detail-due {
  position: relative;
  top: 40px;
  /* left: 5px; */
}



#task-details p {
  /* font-size: medium;
  border-bottom: black 2px solid; */
  /* width: 200px; */
  /* left: 5px; */
}

#task-div {
  display: none;
}

#create-project {
  display: none;
  grid-row-start: project-start;
  /* gap: 20px; */
}

.createP {
  position: relative;
  width: 100px;
  /* bottom: px; */
  top: 2px;
  justify-self: center;
  background-color: #006241;
}

#projects {
  width: 200px;
  /* border: 2px solid red; */
  grid-row-start: project-start;
  /* align-content: center; */
  /* justify-content: center; */
}

#projects-section {
 /* border: 2px solid black; */
 display: grid;
 grid-template-rows: [project-title] 50px [project-start] 250px [project-mid];
}

#projects-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
  gap: 10px;
}

#project-card {
  background-color: whitesmoke;
  position: relative;
  right: 50px;
  display: flex;
  /* border: 2px solid black; */
  width: 200px;
  justify-self: center;

}

.prj-card {
  position: relative;
  left: 20px;
  width: 130px;
  border: none;
  /* padding: 5px; */
}


ul#projects-list {
  list-style-type: none;
  /* border: 2px solid black; */
  /* grid-row-start: project-start; */
}

li.project-name {
  background-color: white;
  border-right: 8px solid goldenrod;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

li.project-name:hover {
  background-color: lightgrey;
  box-shadow: 3px 3px whitesmoke;
}

#new-window {
  display: none;
  position: absolute;
  z-index: 100;
  /* border: 2px solid black; */
  right: 480px;
  top: 30vh;
  height: 400px;
  width: 600px;
  background-color: goldenrod;
  box-shadow: 5px 5px 5px 5px darkgray;
  /* margin: 20px; */
}

#create-form {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  /* align-content: space-between; */
  justify-self: center;
}

.create-header {
  background-color: white;
  width: 100%;
  /* border: 2px solid blue; */
  border-bottom: 2px solid goldenrod;
  height: 40px;
  font-size: small;
  display: flex;
  justify-content: space-between;  
}

.create-heading {
  position: relative;
  left: 10px;
  align-self: center;
}

.create-close {
  position: relative;
  width: 20px;
  right: 10px;
  align-self: center;
  font-size: x-large;
}

.create-close:hover {
  background-color: crimson;
  box-shadow: 2px 2px 2px 2px gray;
}

.create-content {
  /* border: 2px solid blue; */
  height: 356px;
  /* width: 99%; */
}

.create-title {
  width: 99%;
  resize: none;
}

.create-title:focus {
  background-color: antiquewhite;
}

.create-body {
  width: 99%;
  height: 270px;
  resize: none;
}

.create-body:focus {
  background-color: antiquewhite;
}

.create-date {
  display: flex;
  position: relative;
  top: 8px;
  /* background-color: goldenrod; */
}

.create-due_input {
  position: relative;
  left: 20px;
}

.create-due {
  position: relative;
  left: 10px;
}

.create-new_todo-submit {
  position: relative;
  bottom: 50px;
  left: 525px;
  background-color: #006241;
}
/* 
#project-window {
  border: 2px solid black;
  position: relative;
  left: 950px;
  bottom: 400px;
  height: 400px;
  width: 400px;
  display: grid;
} */
/* 
#assign-to-project {
  position: relative;
  right: 200px;
} */

.project-check {
  /* display: flex; */
  position: relative;
  left: 220px;
  bottom: 12px;
}

.priority {
  position: relative;
  bottom: 30px;
  left: 375px;
  /* width: 2px; */
}