* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container {
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: gray;
  /* filter: blur(10px); */
  /* z-index: 1; */
}

#title-bar {
  display: flex;
  grid-column-start: left;
  grid-column-end: right;
  background: linear-gradient(to right, #212529, #36454f, #71797E);
  color: white;
  align-items: center;
}

#title {
  padding: 125px;
  font-size: 60px;
}

/* #container {
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
} */

#task-content {
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-start: content;
  /* filter: blur(10px); */
}

.content {
  display: grid;
  grid-template-columns: [content-left] 1fr [mid] 4fr [content-right] 1fr [side-end];
  grid-template-rows: [content-start] 100px [add-task] 100px [content-mid] 600px [content-end];
  /* filter: blur(10px); */
}

#info-column {
  display: grid;
  grid-template-rows: [info-start] 400px [info-mid] 50px [info-end];
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-end: content;
  background-color: lightgray;
}

#options-list {
  display: grid;
  padding: 20px;
  gap: 20px;
  /* filter: blur(10px); */
}

#projects {
  grid-row-start: info-end;
  width: 50%;
  margin: 0 auto;
  /* filter: blur(10px); */
  /* height: 30vh; */
}

.project-title {
  position: absolute;
  top: 475px;
  grid-row-start: info-mid;
  border-bottom: 2px solid goldenrod;
  /* margin-inline: auto; */
  width: 10%;
  /* filter: blur(10px); */
}

#content-title {
  grid-column-start: mid;
  display: flex;
  align-content: center;
  justify-content: center;
}

#task-add {
  grid-row-start: add-task;
  background-color: gray;
  grid-column-start: mid;
  height: 60px;
  border: none;
  width: 325px;
  justify-self: center;
  font-size: 40px;
  display: grid;
}

.add {
  display: grid;
  border: none;
  background-color: lightgray;
  position: absolute;
  top: 560px;
  left: 50px;
  height: 50px;
  width: 200px;
  justify-items:  space-between;
  cursor: pointer;
}

#project-add {
  display: grid;
  position: absolute;
  left: 40px;
}

.list{
  display: grid;
  grid-template-rows: repeat(5, 10px);
  background-color: white;
}

button.list {
  border: none;
  border-right: 8px solid goldenrod;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
  border: none;
  box-shadow: 7px 7px #848884;
}

#task-add:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
}

.fa-table-list {
  font-size: 50px;
  position: absolute;
  left: 46px;
}

.fa-plus {
  position: absolute;
  left: 950px;
}

#task-div {
  display: grid;
  grid-template-columns: [input-start] 343px [break] 20px [break-end] 343px [task-end];
  grid-template-rows: [input-top] 40px [input-bottom] 20px [button-start] 40px [button-end] ; 
  grid-row-start: content-mid;
  height: 100px;
  grid-column-start: mid;
  justify-self: center;
}

input#task {
  border: 1px solid black;
  box-shadow: 2px 2px;
  grid-column-start: input-start;
  width: 700px;
  height: 40px;
}

.create {
  grid-column-start: input-start;
  grid-row-start: button-start;
  width: 343px;
  background-color: lightgreen;
}

.cancel {
  grid-column-start: break-end;
  grid-column-end: task-end;
  grid-row-start: button-start;
  background-color: #aa4a44;
}

.hide {
  display: none;
}

#created-tasks {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  grid-row-start: content-mid;
  grid-column-start: mid;
  justify-self: center; 
  width: 600px;
}

#task-card {
  /* display: none; */
  display: flex;
  /* border: 2px solid black; */
  height: 50px;
  /* align-content: center; */
}

.task-p {
  /* margin-right: 50px; */
  margin-left: 230px;
  /* justify-self: center; */
}

.clear-task {
  /* border: 2px solid red; */
  border-radius: 50%;
  height: 20px;
  width: 20px;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
}

#task-card:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
}

/* #task-add:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
} */

/* form {
  border: 2px solid black;
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  gap: 10px;
}

/* .clear-task */

li {
  /* border: 2px solid black; */
  background-color: gray;
  width: 600px;
  
}

li:hover {
  background-color: lightgrey;
  box-shadow: 7px 7px whitesmoke;
}

#task-div {
  display: none;
}

#create-project {
  display: none;
  grid-row-start: project-start;
  /* gap: 20px; */
}

.createP {
  position: relative;
  width: 100px;
  /* bottom: px; */
  top: 2px;
  justify-self: center;
  background-color: #006241;
}

#projects-section {
 /* border: 2px solid black; */
 display: grid;
 grid-template-rows: [project-title] 50px [project-start] 125px [project-mid];
}

ul#projects-list {
  display: block;
  position: relative;
  bottom: 240px;
  justify-self: center;
  height: 280px;
  /* border: 2px solid black; */
  width: 200px;
  /* padding-bottom: 10px; */
}

li.project-name {
  background-color: white;
  border-right: 8px solid goldenrod;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

li.project-name:hover {
  background-color: lightgrey;
  box-shadow: 3px 3px whitesmoke;
}

#new-window {
  display: none;
  position: absolute;
  /* border: 2px solid black; */
  right: 480px;
  top: 30vh;
  height: 400px;
  width: 600px;
  background-color: goldenrod;
  box-shadow: 5px 5px 5px 5px darkgray;
  /* margin: 20px; */
}

#create-form {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  /* align-content: space-between; */
  justify-self: center;
}

.create-header {
  background-color: white;
  width: 100%;
  /* border: 2px solid blue; */
  border-bottom: 2px solid goldenrod;
  height: 40px;
  font-size: small;
  display: flex;
  justify-content: space-between;  
}

.create-heading {
  position: relative;
  left: 10px;
  align-self: center;
}

.create-close {
  position: relative;
  width: 20px;
  right: 10px;
  align-self: center;
  font-size: x-large;
}

.create-close:hover {
  background-color: crimson;
  box-shadow: 2px 2px 2px 2px gray;
}

.create-content {
  /* border: 2px solid blue; */
  height: 356px;
  /* width: 99%; */
}

.create-title {
  width: 99%;
  resize: none;
}

.create-title:focus {
  background-color: antiquewhite;
}

.create-body {
  width: 99%;
  height: 270px;
  resize: none;
}

.create-body:focus {
  background-color: antiquewhite;
}

.create-date {
  display: flex;
  position: relative;
  top: 8px;
  /* background-color: goldenrod; */
}

.create-due_input {
  position: relative;
  left: 20px;
}

.create-due {
  position: relative;
  left: 10px;
}

.create-new_todo-submit {
  position: relative;
  bottom: 12px;
  left: 500px;
  background-color: #006241;
}
/* 
#project-window {
  border: 2px solid black;
  position: relative;
  left: 950px;
  bottom: 400px;
  height: 400px;
  width: 400px;
  display: grid;
} */