#container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: gray;
}

#title-bar {
  border: 2px solid white;
  display: flex;
  grid-column-start: left;
  grid-column-end: right;
  background-color: #212529;
  color: white;
  /* justify-content: center; */
  align-items: center;
}

#title {
  padding: 125px;
  font-size: 60px;
}



#container {
  /* position: absolute; */
  /* width: 100%; */
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
}

#task-content {
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-start: content;
}

#info-column {
  display: grid;
  grid-template-rows: [info-start] 1fr [info-mid] 1fr [info-end];
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-end: content;
  background-color: lightgray;
}

/* button.inbox::before {
  content: url('./assets/inbox.svg');
  display: block;
  position: absolute;
  top: 130px;
} */


#options-list {
  display: grid;
  padding: 20px;
  gap: 20px;
  /* border: 2px solid red; */
}

#projects-section {
  /* border: 2px solid green; */
  display: grid;
  grid-template-rows: [pr-start] 75px [pr-content] 5fr [pr-end];
}

p {
  /* border-bottom: 1px solid red; */
  font-size: x-large;
  position: absolute;
  /* left: 30px; */

}

div#projects-title {
  /* border-bottom: 2px solid goldenrod; */
  width: 75%;
  margin-inline: auto;
  height: 60px;
  font-size: small;
  /* padding-top: 30px; */
}

p {
  position: relative;
  bottom: 20px;
  border-bottom: 2px solid goldenrod;
  margin-inline: auto;
  width: 90%;
}

#projects {
  border: 2px solid red;
}

.list{
  display: grid;
  grid-template-rows: repeat(5, 10px);
  /* width: 100%; */
  /* height: 20px; */
  /* padding: 16px 20px; */
  background-color: white;
  /* border-right: 2px solid goldenrod; */
}

button {
  border: none;
  border-right: 8px solid goldenrod;
}

