* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: gray;
}

#title-bar {
  display: flex;
  grid-column-start: left;
  grid-column-end: right;
  background: linear-gradient(to right, #212529, #36454f, #71797E);
  color: white;
  align-items: center;
}

#title {
  padding: 125px;
  font-size: 60px;
}

#container {
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
}

#task-content {
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-start: content;
}

.content {
  display: grid;
  grid-template-columns: [content-left] 1fr [mid] 4fr [content-right] 1fr [side-end];
  grid-template-rows: [content-start] 100px [add-task] 100px [content-mid] 600px [content-end];
}

#info-column {
  display: grid;
  grid-template-rows: [info-start] 400px [info-mid] 50px [info-end];
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-end: content;
  background-color: lightgray;
}

#options-list {
  display: grid;
  padding: 20px;
  gap: 20px;
}

/* h1#content-title {
  color: white;
} */
/* 
p {
  font-size: x-large;
  position: absolute;
} */

#projects {
  grid-row-start: info-end;
  width: 50%;
  margin: 0 auto;
  height: 30vh;
}


.project-title {
  position: relative;
  bottom: 20px;
  border-bottom: 2px solid goldenrod;
  margin-inline: auto;
  width: 90%;
}

#content-title {
  grid-column-start: mid;
  display: flex;
  align-content: center;
  justify-content: center;
}

#task-add {
  grid-row-start: add-task;
  background-color: gray;
  grid-column-start: mid;
  height: 60px;
  border: none;
  width: 325px;
  justify-self: center;
  font-size: 40px;
  display: grid;
}

.add {
  display: grid;
  border: none;
  background-color: lightgray;
  position: absolute;
  top: 560px;
  left: 50px;
  height: 50px;
  width: 200px;
  justify-items:  space-between;
  cursor: pointer;
}

#project-add {
  display: grid;
  position: absolute;
  left: 40px;
}

.list{
  display: grid;
  grid-template-rows: repeat(5, 10px);
  background-color: white;
}


button.list {
  border: none;
  border-right: 8px solid goldenrod;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
  border: none;
  box-shadow: 7px 7px #848884;
}

#task-add:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
}


.fa-table-list {
  font-size: 50px;
  position: absolute;
  left: 46px;
}

.fa-plus {
  position: absolute;
  left: 950px;
}

#task-div {
  display: grid;
  grid-template-columns: [input-start] 343px [break] 20px [break-end] 343px [task-end];
  grid-template-rows: [input-top] 40px [input-bottom] 20px [button-start] 40px [button-end] ; 
  grid-row-start: content-mid;
  height: 100px;
  grid-column-start: mid;
  justify-self: center;
}

input#task {
  border: 1px solid black;
  box-shadow: 2px 2px;
  grid-column-start: input-start;
  width: 700px;
  height: 40px;
}

.create {
  grid-column-start: input-start;
  grid-row-start: button-start;
  width: 343px;
  background-color: lightgreen;
}

.cancel {
  grid-column-start: break-end;
  grid-column-end: task-end;
  grid-row-start: button-start;
  background-color: #aa4a44;
}

.hide {
  display: none;
}

#created-tasks {
  padding: 0;
  margin: 0;

  display: flex;
  gap: 10px;
  grid-row-start: content-mid;
  grid-column-start: mid;
  justify-self: center;
  /* border: 2px solid black; */
  width: 600px;
}

#task-card {
  /* display: none; */
  display: flex;
  /* border: 2px solid black; */
  height: 50px;
  /* align-content: center; */
}

.task-p {
  /* margin-right: 50px; */
  margin-left: 230px;
  /* justify-self: center; */
}

.clear-task {
  /* border: 2px solid red; */
  border-radius: 50%;
  height: 20px;
  width: 20px;
  align-self: center;
  margin-left: 10px;
  cursor: pointer;
}

#task-card:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
}

/* #task-add:hover {
  background-color: lightgray;
  box-shadow: 7px 7px whitesmoke;
} */

/* form {
  border: 2px solid black;
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  gap: 10px;
}

/* .clear-task */

li {
  /* border: 2px solid black; */
  background-color: gray;
  width: 600px;
  
}

li:hover {
  background-color: lightgrey;
  box-shadow: 7px 7px whitesmoke;
}

#task-div {
  display: none;
}

#create-project {
  display: none;
  /* border: 2px solid black; */
  /* gap: 20px; */
}

.p-add {
  position: relative;
  width: 100px;
  /* bottom: px; */
  top: 2px;
  justify-self: center;
  background-color: #006241;
}

/* #projects-section {
  
} */

ul#projects-list {
  display: block;
  position: relative;
  bottom: 240px;
  justify-self: center;
  height: 280px;
  /* border: 2px solid black; */
  width: 200px;
  /* padding-bottom: 10px; */
}

li.project-name {
  background-color: white;
  border-right: 8px solid goldenrod;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

li.project-name:hover {
  background-color: lightgrey;
  box-shadow: 3px 3px whitesmoke;
}
