#container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: gray;
}

#title-bar {
  display: flex;
  grid-column-start: left;
  grid-column-end: right;
  background-color: #212529;
  color: white;
  /* justify-content: center; */
  align-items: center;
}

#container {
  /* position: absolute; */
  /* width: 100%; */
  display: grid;
  grid-template-rows: [top] 100px [middle] 80vh [ft-start] 1fr [end];
  grid-template-columns: [left] 15vw [content] 85vw [right] ;
}

#task-content {
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-start: content;
  border: 2px solid blue;
}

#info-column {
  display: grid;
  grid-template-rows: [info-start] 1fr [info-mid] 1fr [info-end];
  border: 2px solid pink;
  grid-row-start: middle;
  grid-row-end: end;
  grid-column-end: content;
  /* background-color: gray; */
}

.inbox {
  list-style-image: url('./assets/inbox.svg');
  border: 2px solid lime;
}

#options-list {
  display: grid;
  padding: 20px;
  gap: 20px;
  /* border: 2px solid red; */
}

#projects-section {
  display: grid;
}

p {
  /* border-bottom: 1px solid red; */
  font-size: x-large;
  position: absolute;
  left: 30px;

}

div#projects-title {
  border-bottom: 1px solid black;
  width: 100%;
  height: 70px;
  font-size: small;
}

.list{
  display: grid;
  grid-template-rows: repeat(5, 10px);
  /* width: 100%; */
  /* height: 20px; */
  /* padding: 16px 20px; */
  background-color: lightgray;
  border: none;
}

button.list {
  
}
